<div class="message">
  <div class="message-name">
    <%= msg.sender.name %>
  </div>
  <div class="message-body">
    <%= msg.content %>
  </div>
  <div class="message-body">
    <%= msg.content %>
  </div>
</div>
<br>
