
<div class="hp-centered">
  <div class="container">
    <div class="row text-center" style="margin-top: 15vh">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
        <h1><strong> LocaDev </strong></h1>
        <br>
        <h5>Cherchez un developpeur près de chez vous qui a les compétences dont vous avez besoin.</h5>
      </div>
    </div>
    <br>
    <div class="row text-center">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 blackco">
        <%= form_tag developpeurs_path, :method => :get do %>
          <p>
            <%= text_field_tag :search, params[:search],:id => 'geo-input' %>
            <%= submit_tag "Search Near", :name => nil%>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="hp-services">
  <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-color: #ffffff">
            <div class="card-category">Service 1</div>
            <div class="card-back"></div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-color: #ffffff">
            <div class="card-category">Service 2</div>
            <div class="card-back"></div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-color: #ffffff">
            <div class="card-category">Service 3</div>
            <div class="card-back"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

<%= content_for(:after_js) do %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyAjH6oP0ksqS7uNlafARSObT8S1VWR_Nds"></script>
<% end %>
