<h1>Recruteurs#new</h1>
<p>Find me in app/views/developpeurs/new.html.erb</p>
<h2>Complete your profile</h2>

    <%= simple_form_for [@profil,@recruteur] do |f| %>
      <%= f.input :description %>
      <%= f.submit "Create Recruteur"%>
<% end %>
