.form-button {
  background-color: #fff ;
  color: #333;
  text-align: center;
  border: 1px solid #ccc;
  padding: 6px 12px;
  font-size: 18px;
  border-radius: 2px;
}

.form-button:hover {
  background-color: #E6E6E6;
  text-decoration: none;
  color: #333;
}
