#map {
  display: absolute;
  top: 70px !important;
  right: 0 !important;
  height: calc(100vh - 70px);
  position: sticky !important;
  z-index: 0;
  flex: 0 0 450px;
}

.main-container {
  display: flex;
  justify-content: space-between;
}
