<h1>Developpeurs#edit</h1>
<p>Find me in app/views/developpeurs/edit.html.erb</p>

<h2>Complete your Developpeur profile</h2>

    <%= simple_form_for [@profil,@developpeur] do |f| %>
      <%= f.input :description %>
      <%= f.input :available %>
      <%= f.submit "Edit Developpeur"%>
<% end %>
