<h2>Edit your Developpeur profile</h2>

    <%= simple_form_for [@profil,@developpeur] do |f| %>
      <%= f.input :description %>
      <%= f.input :available %>
      <%= f.submit "Edit Developpeur"%>
<% end %>
